/* Menus */
/* Variables / mixins / layout */
/* Header */
/*Background menus */
/* Menus font colors */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* 2 variables par menu */
/* @function colorVarient($color){

}
 */
/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* 2 variables par menu */
/* @function colorVarient($color){

}
 */
@font-face {
  font-family: "Trueno";
  font-style: normal;
  src: url("../../fonts/Trueno/truenorg.otf");
}
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  src: url("../../fonts/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Flow";
  font-style: normal;
  src: url("../../fonts/Flow/flow_b.otf");
}
@font-face {
  font-family: "Croissant";
  font-style: normal;
  src: url("../../fonts/Croissant/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "Dancing";
  font-style: normal;
  src: url("../../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Segoe";
  font-style: normal;
  src: url("../../fonts/Segoe/segoepr.ttf");
}
@font-face {
  font-family: "Kaushan";
  font-style: normal;
  src: url("../../fonts/Kaushan/kaushanscript-regular.ttf");
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #579c87;
  color: #fcca46;
  font-size: 25px;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
}

/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* 2 variables par menu */
/* @function colorVarient($color){

}
 */
footer {
  width: 100%;
  height: 70px;
  background-color: #579c87;
  color: #fcca46;
  display: flex;
  align-items: center;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
}
footer nav {
  width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}
footer nav ul li {
  list-style-type: none;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 25px;
}

body {
  background-color: #ECECEC;
}

.container--fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  border: cadetblue 1px solid;
  max-width: 800px;
  background-color: white;
}
.container--fullPage .nomRestaurant {
  border: royalblue 1px solid;
}
.container--fullPage .menu {
  max-width: 600px;
  width: 100%;
  border: teal 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #FFF5FE;
  letter-spacing: 0.5px;
  color: #c8721f;
  /* .menu__titre:nth-child(6), .menu__titre:nth-child(7){
      color: $variant2-menu2;
  } */
}
.container--fullPage .menu .menu__titre:nth-child(4) {
  color: #a26a95;
}
.container--fullPage .menu .menu__corps:nth-child(5) {
  color: #a26a95;
}
.container--fullPage .menu .menu__titre:nth-child(6) {
  color: #6c56c6;
}
.container--fullPage .menu .menu__corps:nth-child(7) {
  color: #6c56c6;
}
.container--fullPage .menu .menu__header {
  border: springgreen 1px solid;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 50px 0px 50px;
  font-family: "Croissant", Arial, Helvetica, sans-serif;
}
.container--fullPage .menu .menu__header i {
  font-size: 55px;
}
.container--fullPage .menu .menu__header h3 {
  font-size: 30px;
  background: -webkit-linear-gradient(-75deg, #c8721f, #a26a95, #6c56c6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: brightness(1.2);
}
.container--fullPage .menu .menu__titre {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.container--fullPage .menu .menu__titre .menu__titre--ligneGauche, .container--fullPage .menu .menu__titre .menu__titre--ligneDroite {
  width: 10em;
  max-height: 1em;
}
.container--fullPage .menu .menu__titre .menu__titre--ligneDroite {
  transform: scaleX(-1);
}
.container--fullPage .menu .menu__corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  width: 80%;
}
.container--fullPage .menu .menu__corps .menu__choix {
  display: flex;
  justify-content: space-between;
  flex: 2;
  margin-bottom: 1em;
}
.container--fullPage .menu .menu__corps .menu__choix .menu__prix {
  flex: 1;
}
.container--fullPage .menu .menu__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--fullPage .menu .menu__footer i {
  margin-right: 5px;
  font-size: 25px;
}

/*# sourceMappingURL=chic.css.map */
