/* Page index */
/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
/* @function colorVarient($color){

}
 */
/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
/* @function colorVarient($color){

}
 */
@font-face {
  font-family: "Trueno";
  font-style: normal;
  src: url("../../fonts/Trueno/truenorg.otf");
}
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  src: url("../../fonts/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Flow";
  font-style: normal;
  src: url("../../fonts/Flow/flow_b.otf");
}
@font-face {
  font-family: "Croissant";
  font-style: normal;
  src: url("../../fonts/Croissant/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "Dancing";
  font-style: normal;
  src: url("../../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Segoe";
  font-style: normal;
  src: url("../../fonts/Segoe/segoepr.ttf");
}
@font-face {
  font-family: "Kaushan";
  font-style: normal;
  src: url("../../fonts/Kaushan/kaushanscript-regular.ttf");
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #579c87;
  color: #fcca46;
  font-size: 25px;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
}

/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
/* @function colorVarient($color){

}
 */
footer {
  width: 100%;
  height: 70px;
  background-color: #579c87;
  color: #fcca46;
  display: flex;
  align-items: center;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  position: sticky;
  bottom: 0;
}
footer nav {
  width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}
footer nav ul li {
  list-style-type: none;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 25px;
}

/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
/* @function colorVarient($color){

}
 */
.container--button {
  width: 40%;
  min-width: 225px;
}

button {
  margin-bottom: 40px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #579c87;
  color: #fcca46;
  font-size: 30px;
}

body {
  background-color: #ECECEC;
}

.container--fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
  background-color: white;
}
.container--fullPage main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container--fullPage main .menu {
  /* flex:0.4; */
  /* max-width: 300px; */
  width: 270px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: inherit;
  /* Due au fait que les menus soient des liens (changment de couleur) */
}
.container--fullPage main .menu:nth-child(1) {
  background-color: #fcdfdb;
}
.container--fullPage main .menu:nth-child(1) i {
  font-size: 35px;
  background: -webkit-linear-gradient(left bottom, #f25661, #f25661, #f88e6a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  /* Pour ne pas couper la police */
  filter: brightness(1.2);
}
.container--fullPage main .menu:nth-child(1) h3 {
  font-family: "Devonshire", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.container--fullPage main .menu:nth-child(1) p {
  font-family: "Flow", Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}
.container--fullPage main .menu:nth-child(2) {
  background-color: #FFF5FE;
}
.container--fullPage main .menu:nth-child(2) h3 {
  font-family: "Croissant", Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(left bottom, #c8721f, #a26a95, #6c56c6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  /* Pour ne pas couper la police */
  filter: brightness(1.2);
}
.container--fullPage main .menu:nth-child(2) p {
  font-size: 25px;
  font-weight: bolder;
  color: #c8721f;
}
.container--fullPage main .menu:nth-child(3) {
  background-color: #F9F9F9;
}
.container--fullPage main .menu:nth-child(3) h3 {
  font-family: "Dancing", Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(left bottom, #003ad9, #0071e3, #009eed);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  /* Pour ne pas couper la police */
  filter: brightness(1.2);
}
.container--fullPage main .menu:nth-child(3) p {
  font-family: "Segoe", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #003ad9;
}
.container--fullPage main .menu:nth-child(4) {
  background-color: #FDFFFD;
}
.container--fullPage main .menu:nth-child(4) h3 {
  font-family: "Kaushan", Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(left bottom, #53a14b, #53a14b, #c1fd88);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  /* Pour ne pas couper la police */
  filter: brightness(1.2);
}
.container--fullPage main .menu:nth-child(4) p {
  font-family: "Segoe", Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #53a14b;
}

/*# sourceMappingURL=index.css.map */
