@charset "UTF-8";
/* Menus */
/* Variables / mixins / layout */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
@font-face {
  font-family: "Trueno";
  font-style: normal;
  src: url("../fonts/Trueno/truenorg.ttf");
}
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  src: url("../fonts/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Flow";
  font-style: normal;
  src: url("../fonts/Flow/flow_b.ttf");
}
@font-face {
  font-family: "Croissant";
  font-style: normal;
  src: url("../fonts/Croissant/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "Dancing";
  font-style: normal;
  src: url("../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Segoe";
  font-style: normal;
  src: url("../fonts/Segoe/segoepr.ttf");
}
@font-face {
  font-family: "Kaushan";
  font-style: normal;
  src: url("../fonts/Kaushan/kaushanscript-regular.ttf");
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #579c87;
  color: #fcca46;
  font-size: 20px;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
}
header a {
  text-decoration: none;
  color: inherit;
}

/* Variables */
/* Header */
/*Background menus */
/* Menus font colors */
/* hsl(14.3, 91.1%, 69.2%) */
/* variante 1 voulue = hsl(313.8, 25.3%, 52.7%) // variante 2 voulue: hsl(251.4, 51.3%, 55.7%) */
/* hsl(90.5, 96.7%, 76.1%) */
/** 2 variables par menu **/
/* 1 Variable du menu 1 (les icons) */
/* Variables du menu 2 */
/* Variables du menu 3 */
/* Variables du menu 4 */
footer {
  width: 100%;
  height: 50px;
  background-color: #579c87;
  color: #fcca46;
  display: flex;
  align-items: center;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  position: sticky;
  bottom: 0;
}
footer nav {
  width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}
footer nav ul li {
  list-style-type: none;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 15px;
  /* Détails de l'animation */
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
footer nav ul li:hover {
  /* démarre l'animation shake et dure 0.5 secondes */
  animation: shake 0.5s;
  /* Fait touner l'animation indéfiniment */
  animation-iteration-count: infinite;
}
footer a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ECECEC;
}

.container--fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background-color: white;
  /* Media querie pour mobile */
}
.container--fullPage .nomRestaurant {
  font-size: 15px;
  font-family: sans-serif;
}
.container--fullPage .menu {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #F9F9F9;
  font-family: "Segoe", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  /* .menu__titre:nth-child(4) .parallelogramme, .menu__titre:nth-child(4) .parallelogramme2 {
      background: $variant1-menu3;

  }
  .menu__titre:nth-child(6) .parallelogramme, .menu__titre:nth-child(6) .parallelogramme2 {
      background: $variant2-menu3;
  } */
}
.container--fullPage .menu .menu__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 50px 0px 50px;
  font-family: "Dancing", Arial, Helvetica, sans-serif;
  font-size: 40px;
}
.container--fullPage .menu .menu__header h3 {
  background: -webkit-linear-gradient(left bottom, #003ad9, #0071e3, #009eed);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  /* Pour ne pas couper la police */
  filter: brightness(1.2);
  font-weight: inherit;
}
.container--fullPage .menu .menu__titre {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: baseline;
  text-align: center;
  /* Animation de souligner */
  /* Le background du pseudo élément prend une taille de 100% */
  /*  .menu__titre--ligneGauche, .menu__titre--ligneDroite{
      width: 160px;
      max-height: 10px;
  } */
  /*.parallelogramme{
      width: 30%;
      height: 5px;
      transform: skew(50deg);
      background: $base-menu3;
      margin-right: 1.5%;
    }
    .parallelogramme2{
      width: 30%;
      height: 5px;
      transform: skew(-50deg);
      background: $base-menu3;
      margin-right: 1.5%;
    } */
}
.container--fullPage .menu .menu__titre h5 {
  font-size: 15px;
}
.container--fullPage .menu .menu__titre h5::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}
.container--fullPage .menu .menu__titre h5:hover::after {
  width: 100%;
}
.container--fullPage .menu .menu__titre .menu__titre--ligneDroite {
  transform: scaleX(-1);
}
.container--fullPage .menu .menu__titre {
  fill: #003ad9;
}
.container--fullPage .menu .menu__titre:nth-child(4) {
  fill: #0071e3;
}
.container--fullPage .menu .menu__titre:nth-child(6) {
  fill: #009eed;
}
.container--fullPage .menu .menu__corps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  width: 80%;
}
.container--fullPage .menu .menu__corps .menu__choix {
  display: flex;
  justify-content: space-between;
  flex: 2;
  margin-bottom: 1em;
}
.container--fullPage .menu .menu__corps .menu__choix .menu__prix {
  flex: 1;
}
.container--fullPage .menu .menu__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--fullPage .menu .menu__footer i {
  margin-right: 5px;
  font-size: 25px;
}
@media (max-width: 600px) {
  .container--fullPage .menu {
    font-size: 10px;
  }
  .container--fullPage .menu .menu__titre h5 {
    font-size: 13px;
  }
}

/*# sourceMappingURL=papilles.css.map */
