.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border: cadetblue 1px solid;
}
.container__firstLine, .container__secondLine{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container--menu{
    width: 300px;
    height: 400px;
    border: chartreuse 1px solid;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.menu{
    border: 1px solid brown;
    text-align: center;
}

