.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border: cadetblue 1px solid;
    max-width: 1200px;
}
.header--fullPage{
    border: solid 1px red;
}
.titre__page{
    border: royalblue 1px solid;
}
.menu{
    border: teal 1px solid;
    display: flex;
    flex-direction: column;
    
}
.menu__header{
    border: springgreen 1px solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}
.menu__titre, .menu__corps{
    margin-left: 50px;
    margin-right: 50px;
}

.menu__titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__titre--ligneGauche, .menu__titre--ligneDroite{
    max-height: 1em ;
    width: 10em;
}
.menu__corps{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.menu__choix{
    display: flex;
    justify-content: space-between;
    flex: 2;
}
.menu__prix{
    flex:1;
}
#desserts{
    margin-bottom: 50px;
}
.menu__footer{
    display: flex;
    justify-content: center;
    border: steelblue 1px solid;
    margin-bottom: 50px;
}