/* Menus */

/* Variables / mixins / layout */
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header.scss";
@import "./layout/footer.scss";

body{
    background-color: #ECECEC;
}

.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 800px;
    background-color: white;

    .menu{
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
        @include backgroundMenu($background-color-menu-4);
        @include fontstyle('Segoe');
        font-size: 0.8em;

        .menu__header{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin: 50px 0px 50px;;
            @include fontstyle('kaushan');
            font-size: 50px;

            i{
                font-size: 55px;
            }
            h3{
                @include textGradient ($base-menu4, $base-menu4, $variant1-menu4);
                font-weight: inherit;
            }
        }

        .menu__titre{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            text-align: center;
        
            .menu__titre--ligneGauche, .menu__titre--ligneDroite{
                width: 200px;
                max-height: 50px;
            }
            .menu__titre--ligneGauche{
                transform: scaleX(-1);
            }
        }

        .menu__corps{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-bottom: 50px;
            width: 80%;

            .menu__choix{
                display: flex;
                justify-content: space-between;
                flex: 2;
                margin-bottom: 1em;  

                .menu__prix{
                    flex:1;
                }
            }
        }
        .menu__footer{
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                margin-right: 5px;
                font-size: 25px;
            }
        }
    }
}