/* Page index */

.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border: cadetblue 1px solid;
    max-width: 1200px;

    header{
        margin-bottom: 50px;
        border: khaki 1px solid;
        width: 100%;
        text-align: center;
    }

    main{
        display: flex;
        flex-direction: row;
        border: 1px solid red;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 50px;

        .container--menu{
            /* flex:0.4; */
            /* max-width: 300px; */
            width: 300px;
            height: 400px;
            display: flex;
            justify-content: center;  
            align-items: center;
            margin-bottom: 40px;
            margin-left: 50px;
            margin-right: 50px;
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);

            .menu{
                border: 1px solid brown;
                text-align: center;
            }
        }
    }

    button{
        margin-bottom: 50px;
        border: lightsalmon 1px solid;
    }

    footer{
        width: 100%;
        border: lightcoral 1px solid;

        nav{
            border: olivedrab 1px solid;
        }
    }  
}