/* Page index */

/* Variables */
@import "./utils/variables";
@import "./utils/mixins";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./composants/button.scss";

body{
    background-color: #ECECEC;
    
}

.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: 800px;
    background-color: white;

    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        

        .menu{
            /* flex:0.4; */
            width: 270px;
            height: 380px;
            /* display: flex;
            flex-direction: column; */
            /* justify-content: center;  
            align-items: center; */
            text-align: center;
            margin-bottom: 40px;
            margin-left: 5px;
            margin-right: 5px;
            /* Ombres sous les menus */
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            /* Due au fait que les menus soient des liens (changment de couleur) */
            text-decoration: none;
            color: inherit;
            /* Zoom */
            transition: (0.4s);
            overflow: hidden;/* Pour ne pas dépasser du cadre */
            
            .zoom{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                /* Zoom */
                transition: (0.4s);
            }
            
            /* Zoom */            
            .zoom:hover{
                transform: scale(1.2);
                opacity: 0.5;
                background: rgba($color: white, $alpha: 0.3)
            }

            

            &:nth-child(1){
                @include backgroundMenu;

                i{
                    font-size: 35px;
                    @include textGradient ($base-menu1, $base-menu1, $variant1-menu1);
                }
                h3{
                    @include fontstyle ("Devonshire");
                    font-weight: lighter;
                }
                p{
                    @include fontstyle ("Flow");
                    font-size: 25px;
                    text-transform: uppercase;
                }
            }
            &:nth-child(2){
                @include backgroundMenu($background-color-menu-2);
                
                h3{
                    @include fontstyle ("Croissant");
                    @include textGradient ($base-menu2, $variant1-menu2, $variant2-menu2);
                    font-size: 15px;
                }
                p{
                    font-size: 25px;
                    font-weight: bolder;
                    color:$base-menu2;
                }
            }
            &:nth-child(3){
                @include backgroundMenu($background-color-menu-3);

                h3{
                    @include fontstyle ("Dancing");
                    @include textGradient ($base-menu3, $variant1-menu3, $variant2-menu3);
                }
                p{
                    @include fontstyle ("Segoe");
                    font-size: 25px;
                    color: $base-menu3;
                }
            }
            &:nth-child(4){
                @include backgroundMenu($background-color-menu-4);

                h3{
                    @include fontstyle ("Kaushan");
                @include textGradient ($base-menu4, $base-menu4, $variant1-menu4);

                }
                p{
                    @include fontstyle ("Segoe");
                    font-size: 25px;
                    color: $base-menu4;
                }
            }


        }
    }


}