/* Menus */

/* Variables */
@import "./utils/variables";
@import "./layout/header.scss";
@import "./layout/footer.scss";

.container--fullPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    border: cadetblue 1px solid;
    max-width: 800px;

    .nomRestaurant{
        border: royalblue 1px solid;
    }

    .menu{
        border: teal 1px solid;
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin: 0px 50px 50px 50px;
        background-color: #fcdfdb;

        .menu__header{
            border: springgreen 1px solid;
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .menu__titre{
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .menu__titre--ligneGauche, .menu__titre--ligneDroite{
                width: 10em;
                max-height: 1em;
            }
        }

        .menu__corps{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-bottom: 50px;

            .menu__choix{
                display: flex;
                justify-content: space-between;
                flex: 2;    

                .menu__prix{
                    flex:1;
                }
            }
        }
        .menu__footer{
            text-align: center;
        }
    }
}