//* Imports */
@import "../utils/variables";
@import "../utils/mixins";
@import "../base/font";

.header--fullPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  height: 11vh;
  margin-bottom: 4vh;
  width: 100%;
  background-color: $header-background-color;
  @include fontstyle("Trueno");

  img {
    height: 7vh;
  }
}
