//* Imports */
@import "../utils/variables";
@import "../base/font";
@import "../utils/mixins";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  height: 10vh;
  margin-bottom: 4vh;
  width: 100%;
  background-color: $header-background-color;
  @include fontstyle("Trueno");

  img {
    width: 150px;
  }
}
