//** Structure de base des menus **/

//* Imports */
@import "../utils/variables";
@import "../utils/mixins";

body {
  background-color: #ececec;
}

.container--fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;

  .nomRestaurant {
    font-size: 15px;
    font-family: sans-serif;
  }

  .menu {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 10vh;
    //* Ombre des menus */
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    //* font */
    font-size: 12px;

    .menu__header {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 55px;
      }

      h3 {
        font-size: 35px;
        font-weight: inherit;
        margin: 0;
      }
    }

    .menu__titre {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-size: 20px;

      //* Animation de souligner */
      & h5::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: black;
        transition: width 0.3s;
      }

      //* Le background du pseudo élément prend une taille de 100% */
      & h5:hover::after {
        width: 100%;
      }

      .menu__titre--ligneDroite {
        transform: scaleX(-1);
      }
    }

    .menu__corps {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-bottom: 3vh;

      .menu__choix {
        display: flex;
        justify-content: space-between;
        flex: 2;
        margin-bottom: 2vh;

        .menu__prix {
          flex: 1;
        }
      }
    }

    .menu__footer {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        margin-right: 1vh;
        font-size: 25px;
      }
    }
  }

  //* Media querie pour mobile */
  //* Change uniquement les tailles des typos dans les menus (titre et corps) */
  @media (max-width: 600px) {
    .menu {
      font-size: 10px;

      .menu__titre {
        font-size: 15px;
      }
    }
  }
}
