//* Spécifications du menu enchantee  */

//imports//
@import "./menu";

.container--fullPage {
  .menu {
    //* Avec padding = 600px */
    max-width: 550px;
    //* Contour décalé */
    padding: 5vh 5vh 10vh 5vh;
    //* Couleur background */
    background-color: $background-color-menu-1;
    //* font */
    @include fontstyle("SegoeMenu");

    .menu__header {
      i {
        @include textGradient($base-menu1, $base-menu1, $variant1-menu1);
      }

      h2 {
        @include fontstyle("DevonshireMenu");
      }
    }

    .menu__footer {
      i {
        @include textGradient($base-menu1, $base-menu1, $variant1-menu1);
      }

      h3 {
        @include fontstyle("DevonshireMenu");
        font-weight: inherit;
        font-size: 30px;
        margin: 0;
      }
    }
  }
}
