//* Spécificités du menu gout */

//* Variables / mixins / layout */
@import "./header";
@import "./menu";
@import "./footer";

.container--fullPage {
  .menu {
    align-items: center;
    //* background color */
    @include backgroundMenu($background-color-menu-4);
    @include fontstyle("SegoeMenu");
    padding-bottom: 10vh;

    //* Couleur Gradient */
    .svg--stop1 {
      stop-color: $base-menu4;
    }

    .svg--stop2 {
      stop-color: $variant1-menu4;
    }

    .menu__header {
      @include fontstyle("kaushanMenu");
      padding-top: 5vh;
      padding-bottom: 3vh;

      h2 {
        @include textGradient($base-menu4, $base-menu4, $variant1-menu4);
        font-size: 5.5vh;
        font-weight: inherit;
      }
    }

    .menu__titre {
      //* Animation de souligner */
      & h4::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: black;
        transition: width 0.3s;
      }

      //* Le background du pseudo élément prend une taille de 100% */
      & h4:hover::after {
        width: 100%;
      }

      .menu__titre--ligneGauche,
      .menu__titre--ligneDroite {
        margin-left: 15px;
        margin-right: 15px;
      }

      .menu__titre--ligneDroite {
        transform: scaleX(-1);
      }
    }

    .menu__corps {
      width: 80%;
    }
  }
}
