/* Variables */
@import "../utils/variables";
@import "../base/font";
@import "../utils/mixins";


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 4vh;
    width: 100%;
    background-color: $header-background-color;
    color: $header-title-color;
    font-size: 15px;
    @include fontstyle("Trueno");
    letter-spacing: -2px;
}