/* Variables */
@import "../utils/variables";
@import "../base/font";
@import "../utils/mixins";


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    width: 100%;
    background-color: $header-background-color;
    color: $header-title-color;
    font-size: 20px;
    @include fontstyle("Trueno");
    letter-spacing: -2px;

    & a{
        text-decoration: none;
        color: inherit;
    }
}
