/* Variables */
@import "../utils/variables";

header{
    margin-bottom: 50px;
    border: khaki 1px solid;
    width: 100%;
    text-align: center;
    background-color: $header-background-color;
    color: $header-title-color;
}