//* Spécificités du menu paipilles */

//* Imports */
@import "../utils/variables";
@import "../utils/mixins";
@import "./header";
@import "./menu";
@import "./footer";

.container--fullPage {
  .menu {
    align-items: center;
    //* Background color */
    @include backgroundMenu($background-color-menu-3);
    //* font family */
    @include fontstyle("SegoeMenu");
    padding-bottom: 10vh;

    .menu__header {
      @include fontstyle("DancingMenu");
      font-size: 40px;

      h2 {
        margin-top: 10vh;
        margin-bottom: 5vh;
        @include textGradient($base-menu3, $variant1-menu3, $variant2-menu3);
      }
    }

    .menu__titre {
      width: 95%;
      align-items: baseline;
    }

    //* Couleurs des svg */
    .menu__titre {
      fill: $base-menu3;
    }

    .menu__titre:nth-child(4) {
      fill: $variant1-menu3;
    }

    .menu__titre:nth-child(6) {
      fill: $variant2-menu3;
    }
    .menu__corps {
      width: 80%;
    }
  }
}
