@font-face {
  font-family: "Trueno";
  font-style: normal;
  src: url("../fonts/Trueno/truenorg.ttf");
}
@font-face {
  font-family: "TruenoMenu";
  font-style: normal;
  src: url("../../fonts/Trueno/truenorg.ttf");
}
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  src: url("../fonts/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "DevonshireMenu";
  font-style: normal;
  src: url("../../fonts/Devonshire/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "Flow";
  font-style: normal;
  src: url("../fonts/Flow/flow_b.ttf");
}
@font-face {
  font-family: "FlowMenu";
  font-style: normal;
  src: url("../../fonts/Flow/flow_b.ttf");
}
@font-face {
  font-family: "Croissant";
  font-style: normal;
  src: url("../fonts/Croissant/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "CroissantMenu";
  font-style: normal;
  src: url("../../fonts/Croissant/CroissantOne-Regular.ttf");
}
@font-face {
  font-family: "Dancing";
  font-style: normal;
  src: url("../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "DancingMenu";
  font-style: normal;
  src: url("../../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Segoe";
  font-style: normal;
  src: url("../fonts/Segoe/segoepr.ttf");
}
@font-face {
  font-family: "SegoeMenu";
  font-style: normal;
  src: url("../../fonts/Segoe/segoepr.ttf");
}
@font-face {
  font-family: "Kaushan";
  font-style: normal;
  src: url("../fonts/Kaushan/kaushanscript-regular.ttf");
}
@font-face {
  font-family: "KaushanMenu";
  font-style: normal;
  src: url("../../fonts/Kaushan/kaushanscript-regular.ttf");
}
.header--fullPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  height: 11vh;
  margin-bottom: 4vh;
  width: 100%;
  background-color: #579c87;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  font-family: "TruenoMenu", Arial, Helvetica, sans-serif;
}
.header--fullPage img {
  height: 7vh;
}

.footer--fullpage {
  width: 100%;
  height: 6vh;
  background-color: #579c87;
  color: #fcca46;
  display: flex;
  align-items: center;
  font-family: "Trueno", Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
}
.footer--fullpage nav {
  width: 100%;
}
.footer--fullpage nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em;
}
.footer--fullpage nav ul li {
  list-style-type: none;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 15px;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.footer--fullpage nav ul li:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.footer--fullpage a {
  text-decoration: none;
  color: inherit;
}

.container--fullPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.container--fullPage .nomRestaurant {
  font-size: 13px;
  font-family: sans-serif;
}
.container--fullPage .menu {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: 10vh;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
  font-size: 13px;
}
.container--fullPage .menu .menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container--fullPage .menu .menu__header i {
  font-size: 55px;
}
.container--fullPage .menu .menu__header h2 {
  font-size: 35px;
  font-weight: inherit;
  margin: 0;
}
.container--fullPage .menu .menu__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 15px;
}
.container--fullPage .menu .menu__titre h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.container--fullPage .menu .menu__titre h3:hover::after {
  transform: scaleX(1);
}
.container--fullPage .menu .menu__titre .menu__titre--ligneDroite {
  transform: scaleX(-1);
}
.container--fullPage .menu .menu__corps {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}
.container--fullPage .menu .menu__corps .menu__choix {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  align-items: baseline;
}
.container--fullPage .menu .menu__corps .menu__choix .plats {
  padding-right: 3px;
}
.container--fullPage .menu .menu__corps .menu__choix .prix {
  font-weight: bold;
  font-size: 14px;
}
.container--fullPage .menu .menu__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--fullPage .menu .menu__footer i {
  margin-right: 1vh;
  font-size: 25px;
}
.container--fullPage .footer--fullpage {
  font-family: "TruenoMenu", Arial, Helvetica, sans-serif;
}
@media (max-width: 600px) {
  .container--fullPage .menu {
    font-size: 12px;
  }
  .container--fullPage .menu .menu__titre {
    font-size: 14px;
  }
  .container--fullPage .menu .menu__corps .menu__choix {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .container--fullPage .menu .menu__corps .menu__choix .prix {
    font-size: 13px;
  }
}

.container--fullPage .menu {
  max-width: 600px;
  align-items: center;
  background-color: #fff5fe;
  letter-spacing: 0.5px;
  padding-bottom: 50px;
  color: #c8721f;
  fill: #c8721f;
}
.container--fullPage .menu .menu__header {
  font-family: "CroissantMenu", Arial, Helvetica, sans-serif;
  margin: 10vh 0vh 3vh;
}
.container--fullPage .menu .menu__header h2 {
  background: -webkit-linear-gradient(left bottom, #c8721f, #a26a95, #6c56c6);
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
  filter: brightness(1.2);
  font-size: 25px;
}
.container--fullPage .menu .menu__titre:nth-child(4) {
  color: #a26a95;
  fill: #a26a95;
}
.container--fullPage .menu .menu__corps:nth-child(5) {
  color: #a26a95;
}
.container--fullPage .menu .menu__titre:nth-child(6) {
  color: #6c56c6;
  fill: #6c56c6;
}
.container--fullPage .menu .menu__corps:nth-child(7) {
  color: #6c56c6;
}
.container--fullPage .menu .menu__titre:nth-child(2) h3::after {
  background: #c8721f;
}
.container--fullPage .menu .menu__titre:nth-child(4) h3::after {
  background: #a26a95;
}
.container--fullPage .menu .menu__titre:nth-child(6) h3::after {
  background: #6c56c6;
}
.container--fullPage .menu .menu__corps {
  width: 80%;
}

/*# sourceMappingURL=chic.css.map */
