// Partial utilisé pour importer les fonts //
@font-face {
  font-family: "Trueno";
  font-style: normal;
  src: url("../../fonts/Trueno/truenorg.ttf");
}

@font-face {
  font-family: "Devonshire";
  font-style: normal;
  src: url("../../fonts/Devonshire/Devonshire-Regular.ttf");
}

@font-face {
  font-family: "Flow";
  font-style: normal;
  src: url("../../fonts/Flow/flow_b.ttf");
}

@font-face {
  font-family: "Croissant";
  font-style: normal;
  src: url("../../fonts/Croissant/CroissantOne-Regular.ttf");
}

@font-face {
  font-family: "Dancing";
  font-style: normal;
  src: url("../../fonts/Dancing/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Segoe";
  font-style: normal;
  src: url("../../fonts/Segoe/segoepr.ttf");
}

@font-face {
  font-family: "Kaushan";
  font-style: normal;
  src: url("../../fonts/Kaushan/kaushanscript-regular.ttf");
}
